@font-face {
    font-family: alibaba;
    src: url("../fonts/alibaba-regular.woff2-5d2979c4.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: alibaba;
    src: url("../fonts/alibaba-bold.woff2-bbb24413.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: alibaba;
    src: url("../fonts/alibaba-black.woff2-41970917.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
