:root {
    /* --border-colorgba(0, 0, 0, 0.122)01f; */
    /* --shadow-color: 0 2px 5px -1px #00000014; */
    --border-radius: 8px;
    --nav-height: 120px;

    --white: #FFF;
    --black: #000;
    --primary: #FDB713;
    --primary-light: #FFE19C;
    --primary-dark: #E3A107;
    --secondary-100: #F2F9FF;
    --secondary-200: #C9E3F8;
    --secondary-300: #51A2E7;
    --secondary-400: #0077DB;
    --secondary-500: #00569E;
    --secondary-600: #004075;
    --secondary-700: #001C33;
    --success-100: #EAFAEE;
    --success-300: #84E199;
    --success-400: #28A745;
    --success-500: #1E7B33;
    --success-700: #11461D;
    --warning-100: #FFF5E5;
    --warning-300: #FFCE85;
    --warning-400: #FF9800;
    --warning-500: #A85D00;
    --warning-700: #4D2800;
    --info-100: #E8F9FC;
    --info-300: #A0E8F3;
    --info-400: #17A2B8;
    --info-500: #0F697A;
    --info-700: #072F36;
    --danger-100: #FDF2F3;
    --danger-300: #F2B5BB;
    --danger-400: #DC3545;
    --danger-500: #871722;
    --danger-700: #410B10;
    --grays-100: #F8FAFB;
    --grays-150: #E2E6E9;
    --grays-200: #BEC6CC;
    --grays-300: #959EA6;
    --grays-400: #6C7680;
    --grays-500: #4B5259;
    --grays-600: #2B2F33;
    --grays-700: #0A0B0C;
    --border-1: rgba(0, 0, 0, .12);
    --border-2: rgba(0, 0, 0, .2);
    --overlay: rgba(10, 11, 12, .65);
    --bg: #F6F6F6;
    --shadow-sm: 0 1px 1px -1px rgba(0, 0, 0, .08);
    --shadow-md: 0 2px 5px -1px rgba(0, 0, 0, .08);
    --shadow-lg: 0 4px 6px 0 rgba(0, 0, 0, .08);
    --shadow-xl: 0 3px 10px 0 rgba(0, 0, 0, .12), 0 10px 10px -6px rgba(0, 0, 0, .12);
    --shadow-bottom-sheet: 0 -20px 30px -5px rgba(0, 0, 0, .08);
    --shadow-nav-bar: 0 -1px 0 0 rgba(0, 0, 0, .08), 0 -2px 8px 8px rgba(0, 0, 0, .04);
    --shadow-inner: inset 0 2px 4px 0 rgb(0, 0, 0, .05)
}

.fixed {
    position: fixed;
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.gap-0-5 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-4 {
    gap: 4rem;
}

.font-size-0-5 {
    font-size: 0.5rem;
}

.padding-top-0-5 {
    padding-top: 0.5rem;
}

.margin-auto {
    margin: auto;
}

.margin-0 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    background-color: #f6f6f6;
    padding-top: var(--nav-height);
    font-family: "alibaba", "Roboto", sans-serif;
}

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--grays-200);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: var(--grays-500);
}

ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

button {
    border: none;
    background-color: inherit;
    color: var(--grays-500);
}

.primary-button {
    background-color: var(--secondary-400);
    color: var(--white);
    line-height: 2rem;
    border-radius: var(--border-radius);
    font-weight: 700;
}

.secedory-button {
    border-radius: calc(2 * var(--border-radius));
    background-color: var(--white);
    box-shadow: var(--shadow-color);
}

.tertiary-button {
    color: var(--secondary-400);
    border-radius: var(--border-radius);
}

.tertiary-button:hover {
    background-color: var(--secondary-100);
    border: 1px solid var(--secondary-200);
    cursor: pointer;
}

.box {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    color: var(--grays-500);
    box-shadow: var(--shadow-color);
    padding: 1rem;
    border-radius: var(--border-radius);
}

@media (max-width: 800px) {
    html {
        font-size: 12px;
    }
}