header {
    top: 0;
    flex-direction: column;
    border-bottom: solid 1px var(--border-1);
    box-shadow: var(--shadow-md);
    color: var(--grays-500);
    z-index: 100;
    background-color: var(--white);
}

header>.container {
    width: 1200px;
}

.navbar__right>ul {
    color: var(--grays-500);
}

.navbar__right>ul>li {
    height: 50%;
}

.navbar__right>ul>li.divider {
    border-left: 1px solid var(--border-1);
}

.navbar__right ul>li:not(.divider) {
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1rem;
}

.navbar__right>ul>li>ul>li:not(.divider):hover,
.navbar__right>ul>li:not(.divider):hover {
    border-radius: var(--border-radius);
    background-color: var(--grays-100);
}

.navbar__right>ul>li:hover>ul {
    visibility: visible;
}

.navbar__right>ul>li:not(.divider)>ul {
    border-radius: var(--border-radius);
    top: 30px;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--shadow-md);
    border: 1px solid var(--border-1);
    width: 8rem;
}

.navbar__right>ul>li>ul>li:not(.divider) {
    padding: 8px 12px;
    min-height: 40px;
    text-align: center;
    font-size: small;
}

.navbar__right>ul>li>ul>li.divider {
    border-bottom: 1px solid var(--border-1);
}

.navbar__left {
    margin-right: auto;
}

.alibaba-icon>div {
    height: 48px;
}

.alibaba-icon>div>h2 {
    font-weight: 400;
}

.header__anchor-tags {
    min-width: 80%;
}

.header__anchor-tags a {
    line-height: 2rem;
}

/* laptop */
@media (max-width: 1280px) {
    header>.container {
        width: 1000px;
    }

    header>.container>nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__left {
        margin-right: 0;
    }
}

/* desktop-portrait */
@media (max-width: 1024px) {
    header>.container {
        width: 700px;
    }

    header>.container .nav-bar>div:first-child ul {
        display: none;
    }
}

/* ipad-portrait */
@media (max-width: 768px) {
    header>.container {
        width: 400px;
    }

    .navbar__right>ul>li:not(.divider)>ul {
        top: 25px;
    }

    .alibaba-icon {
        display: none;
    }
}

/* iPhone-6-plus */
@media (max-width: 414px) {
    header>.container {
        width: 370px;
    }

    .header__anchor-tags {
        display: none;
    }
}

/* iPhone-6 */
@media (max-width: 375px) {
    header>.container {
        width: 360px;
    }
}

/* android-portrait */
@media (max-width: 360px) {
    header>.container {
        width: 320px;
    }

    .navbar__left {
        /* font-size: 8px; */
        flex-direction: column;
        width: 100vw;
    }

    .navbar__left>a {
        border-bottom: solid 1px var(--border-1);
        text-align: center;
        justify-content: center;
        min-height: 3rem;
    }
}

/* iPhone-4 */
@media (max-width: 320px) {
    header>.container {
        width: 200px;
    }
}